/* You can add global styles to this file, and also import other style files */

@media print {
  @page { size:  72.1mm 350mm !important; margin: 1mm 1mm 1mm 1mm !important;}
  html, body {
    width: 72.1mm !important;
    height: 297mm;
    margin: 1mm 1mm 1mm 1mm !important;
    padding-bottom: 30px !important;
  }

}
